{% load static %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Wyloguj</a>
            </li>
            {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Zarządzaj</a>
                </li>
            {% endif %}
            <li>
                <nav class="nav-item">
                    <div class="container-fluid">
                        <a class="nav-link" href="{% url 'cart' %}">
                            <img src="{% static "/shop/media/kisspng-computer-icons-portable-network-graphics-scalable-shopping-cart-svg-png-icon-free-download-19-184-5ca6a1e6e52a30.1014776415544242949387.png" %}"
                                 alt="" width="30" height="24"
                                 class="d-inline-block align-text-top">
                            &nbsp;Koszyk
                        </a>
                    </div>
                </nav>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_account' %}">Moje konto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Zalogowano: {{ user }}</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Zaloguj</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'add_user' %}">Zarejestruj</a>
            </li>
            <li>
                <nav class="nav-item">
                    <div class="container-fluid">
                        <a class="nav-link" href="{% url 'cart' %}">
                            &nbsp;Koszyk
                            <img src="{% static "/shop/media/kisspng-computer-icons-portable-network-graphics-scalable-shopping-cart-svg-png-icon-free-download-19-184-5ca6a1e6e52a30.1014776415544242949387.png" %}"
                                 alt="" width="30" height="24"
                                 class="d-inline-block align-text-top">

                        </a>
                    </div>
                </nav>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_account' %}">Moje konto</a>
            </li>
        {% endif %}
    </ul>
</div>
<style>
    .nav-link {
        font-size: large;
        padding-top: 0px;
        margin-top: 0px;
    }

    .nav-link:hover {
        color: orangered;
        cursor: pointer;
    }
</style>