{% extends 'dashboard.html' %}
{% block drugi %}
    <div class="card" style="background-color: #D6F8D6;">
        <div class="card-body">
            <p class="card-title"><a class="nav-link" style="text-align: center" href="{% url 'add_category' %}"><b>Dodaj
                nową kategorię</b></p></a>
        </div>
    </div>
    <div class="card">
        <table class="table">

            <tr>
                <th scope="col">#</th>
                <th scope="col">Kategoria nadrzędna</th>
                <th scope="col">Kategoria własna</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            {% for category in object_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ category.parent }}</td>
                    <td>{{ category.name }}</td>
                    <td><a href="{{ category.get_absolute_url }}">edytuj</a></td>
                    <td><a href="{% url 'delete_category' category.id %}">usuń</a></td>
                </tr>
            {% endfor %}
        </table>

    </div>


{% endblock %}