{% extends 'base.html' %}
{% block content %}
    <table class="table">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nazwa Produktu:</th>
            <th scope="col">Kolor:</th>
            <th scope="col">Rozmiar:</th>
            <th scope="col">Ilość:</th>
            <th scope="col">Cena:</th>
            <th scope="col">Wartość:</th>
        </tr>
        {% for product in products_in_cart.all %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ product.product.name }}</td>
                <td>{{ product.product_color }}</td>
                <td>{{ product.product_size }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.product.price }}</td>
                <td>{{ product.get_sum }}</td>
            </tr>
        {% endfor %}
    </table>
    <p style="text-align: center;"><b>Wartość zamówienia: </b>{{ total_sum }}</p>

    <div><b>Adres Wysyłki: </b></div>
    {% include 'form.html'%}
{% endblock %}
