<footer class="footer mt-auto py-3" style="background-color: #e3f2fd;">
    <div class="container">
        <span class="text-muted">
            <p>
            <a style="font-size: small" class="nav-link" href="/">O nas</a>
            <a style="font-size: small" class="nav-link" href="/">Kontakt</a>
            <a style="font-size: small" class="nav-link" href="/">Media</a>
            </p>
            <p style="font-size: xx-small; text-align: end">Copyright 2022-2022 SS-SuperShop.pl</p>
        </span>
    </div>
</footer>

<style>
    .nav-link{
        display: inline-flex;
    }
    .nav-link:hover {
        color: orangered;
        cursor: pointer;
    }
</style>