<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card" style="background-color: #e3f2fd;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="{% url 'show_colors' %}">Kolory</h5>
                <p class="card-text">Zarządzaj kolorami swoich produktów ;)</p></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #e3f2fd;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="{% url 'show_sizes' %}">Rozmiary</a></h5>
                <p class="card-text">Zarządzaj rozmiarami swoich produktów</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #e3f2fd;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="{% url 'show_products' %}">Produkty</a></h5>
                <p class="card-text">Zarządzaj produktami</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="background-color: #e3f2fd;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><a class="nav-link" href="{% url 'show_categories' %}">Kategorie</a></h5>
                <p class="card-text">Zarządzaj kategoriami</p>
            </div>
        </div>
    </div>
</div>